.header{
    height: 15vh;
    /* background-color: red; */
    background-image: url('./tech.jpg');
    background-size: cover;
    object-fit: cover;
    background-position: center;
    opacity: 0.9;
    margin-bottom: 10px;
}

.container h2{
    /* margin-top: 10px; */
}


.action_btns{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.container button{
    padding: 8px 10px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 4px;
}

.info{
    margin-bottom: 10px;
    display: flex;
    gap: 7px;
    align-items: center;
}
.info p{
    font-size: 1rem;
}
.success{
    background-color: teal;
    
}
.warning{
    background-color: #ffa01a;
    
}
.danger{
    background-color:#bb2124;
    
}

.title{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h4{
    color: #646262;
}

.enrBtn{
    background-color: teal;
    padding: 8px 10px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 4px;
}

.programT{
    /* color: teal; */
    font-size: .8rem;
 
    font-weight: bolder;

}

.cont{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
}
.checkbox{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pCont{
    display: flex;
    gap: 20px;
}
.billCont{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    bottom: 50px;
    left: 500px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 
}
.billCont input, .billCont label{
    cursor: pointer;
}