
.menu{
    flex: 1;
    background-color: var(--bgSoft);
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 1;
    width: 280px;
}
.rmenu{
   
    display: none;
}
.rcontent{
    /* margin-left: 70px; */
    width:100%;
    padding: 20px;
}
.content{
    margin-left: 280px;
    width:(100% - 280px);
    padding: 20px;
}

.loader{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: transparent;
}

@media (max-width: 768px) {
    .menu{
       
        background-color: var(--bgSoft);
        padding: 20px;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        overflow-x: hidden;
        z-index: 1;
        width: 280px;
    }
    .content{
        margin-left: 0;
        width:100%;
        padding: 20px;
    }
}